
<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
    <h3> Новый комментарий</h3>
<p>
        Кто-то оставил  вам новый комментарий на сайте пончиков 
</p>
<br/>
<p> Ссылка: " <%= @event_url %> " </p>
 
</body>
</html>