
<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <% if @title%>
    <h3><%= @title %></h3>
  <% end %>  
<p>
  <%= @main_text %><br>
</p>

<% if @footer%>
  <p> <%= @footer%>  </p>
<% end %>  
</body>
</html>