
<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <% if @is_receiver%>
    <h3> У вас новые баллы!</h3>
  <% end %>  
<p>
  <%= @content %><br>
</p>

  <p> Вложенное сообщение: " <%= @extra_content %> " </p>
</body>
</html>