
<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>У вас новые баллы!</h1>
<p>
  <%= @content %><br>
</p>

  <p> <%= @extra_content %></p>
</body>
</html>